{% extends "base.html" %}

{% block content %}

    <main>
        {% if thankyou %}
            <ul>
                <p style="color: red">{{ thankyou }}</p>
            </ul>
            <script>
                setTimeout(function(){
                    window.location.href = '/index';
                }, 3000);
            </script>
        {% endif %}


        <h1 class="title">Please Leave your Feedback</h1>

        <p>--or see <a href="/feedback/ratings">What other people say</a></p>

        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li><p style="color: red">{{ message }}</p></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <fieldset>
                <legend>Feedback Form</legend>
                <div style = font-size:20px; font-weight:bold; margin:auto;>
                    <p>
                        {{ form.Name.label }} <br>
                        {{ form.Name }}
                    </p>

                    <p>
                        {{ form.Ratings.label }} <br>
                        {{ form.Ratings }}
                    </p>
                    <p>
                        {{ form.Comments.label }} <br>
                        {{ form.Comments }}
                    </p>

                    <p>{{ form.Submit }}</p>

                </div>
            </fieldset>
        </form>
    </main>
{% endblock %}