{% extends "base.html" %}

{% block content %}

    <main>
        <h3>Welcome to the homepage of Project Pharmacy </h3>
        <p fontsize="12">
            This semester-long project puts the spot light on the two most famous pharmacy stores in
            center Boston: CVS & Walgreen.
            <img src="/static/cvslogo.png" alt="cvs logo">
            <img src="/static/walgreenlogo.jpeg" alt="walgreen logo"> <br>
            A lot have been done to solve some interesting questions
            related to the two franchising brands. For more detailed information of related to the project
            and works, feel free to click on the links above to check out! Don't forget to give us
            <a href="http://127.0.0.1:5000/feedback">feedback</a>. Much appreciated!
        </p>
        <h3>Team and Contact Information </h3>
        <p>
            Jiajia Shen (jshen97@bu.edu) <br>
            Shiwei Chen (leochans@bu.edu) <br>
            Yuanpei Wang (wangyp@bu.edu)
        </p>
        <h3> Acknowledgement </h3>
        <P class = "note">
            We'd like to take this chance to thank Professor <a href="https://cs-people.bu.edu/lapets/">Andrei Lapets</a>
            for teaching such a wonderful class, and TA <a href="http://cs-people.bu.edu/chenh13/">Hao Chen</a>
            & TA <a href="https://www.linkedin.com/in/po-yu-hsieh">Po-Yu Hsieh</a> for helping us outside of classes.
            CS504 Data Mechanics not only brought us a gorgeous tour into the world of Data Science
            but also made us fuse our skills ranging from backend to frontend into this lovely project.
            It was really a pleasant and fruitful journey!
        </P>
        <h3> References and More </h3>
        <p>
            Feel free to check out the following links for the courses and projects. <br>
            Course GitHub repo link: <a href="https://github.com/Data-Mechanics/course-2019-spr-proj">https://github.com/Data-Mechanics/course-2019-spr-proj</a> <br>
            Course Website: <a href="https://cs-people.bu.edu/lapets/504/">https://cs-people.bu.edu/lapets/504/</a> <br>
            Project Assignments: <br>
            <a href="https://cs-people.bu.edu/lapets/504/s.php?#project0">project 0</a>;
            <a href="https://cs-people.bu.edu/lapets/504/s.php?#project1">project 1</a>;
            <a href="https://cs-people.bu.edu/lapets/504/s.php?#project2">project 2</a>;
            <a href="https://cs-people.bu.edu/lapets/504/s.php?#project3">project 3</a><br>
        </p>
    </main>


{% endblock %}
