{% extends "base.html" %}

{% block content %}
    <main>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <h4>Results:</h4>
                <ul>
                    {% for message in messages %}
                        <li> <p style="color: red">{{ message }}</p></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <h3>Project Task II--CVS, Eviction, & Larceny in Central Boston: A Casual Exploration</h3>

        <h4>
            Form Usage and Results
        </h4>

        <p>
            <ul>
                <li>

                    <b>For results to be displayed, users should at least select a store in the first selection.</b>
                    Results will be displayed on top of the page after hitting the [Find] button at
                    the end of the form. If you want to check the locations on the <a href="/task2/map">GeoMap</a>,
                    before you go the the map page, remember to duplicate the results somewhere either on paper
                    or you devices. The results will be gone after refreshing.
                </li>
                <li>
                    <b>The first selection</b> returns a store's address along with its rating and the number of
                    nearby Eviction and Larceny cases.
                </li>
                <li>
                    <b>The second selection</b> returns the comparison between second selected store and first selected
                    store. The result will display the vicinities, absolute distance, respective ratings, and their differences
                    in number of nearby Eviction and Larceny cases.
                </li>
                <li>
                    <b>The third selection</b> returns the vicinities, total stability and total accessibility of the three
                    stores selected by the three selections. To see the definition of stability and accessibility,
                    please check out task II in the <a href="/report">Final Report</a> for detailed explanations.
                </li>
                <li>
                    <b>The fourth, fifth, and sixth selections</b> together solve a constraint satisfaction problem we conceived,
                    The K-Salesmen problem. The problem is described as follow: Suppose we want to deploy <b>K</b> salesmen
                    to K stores in our dataset, give the K stores solution that has a total stability greater than or equal
                    to S, and a total accessibility greater than or equal to A. Please check out task II in the
                    <a href="/report">Final Report</a> for detailed explanations.
                </li>
            </ul>
        </p>

        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}

            <fieldset>
                <legend><b>CVS Stores Lookup Form</b></legend>
                <div style = font-size:20px; font-weight:bold; margin-left:350px;>
                    <p>
                        <b>{{ form.Stores.label }}</b> <br>
                        {{ form.Stores }}
                    </p>

                    <p>
                        <b>{{ form.Compare.label }}</b> <br>
                        {{ form.Compare }}
                    </p>

                    <p>
                        <b>{{ form.Total.label }}</b> <br>
                        {{ form.Total }}
                    </p>

                    <p>
                        <b>{{ form.K.label }}</b> <br>
                        {{ form.K }}
                    </p>

                    <p>
                        <b>{{ form.S.label }}</b> <br>
                        {{ form.S }}
                    </p>

                    <p>
                        <b>{{ form.A.label }}</b> <br>
                        {{ form.A }}
                    </p>

                    <p>{{ form.Submit }}</p>

                </div>
            </fieldset>

            <p>
                <b>Check your selections on our <a href="/task2/map">GeoMap</a></b>!
            </p>

        </form>
    </main>
{% endblock %}